@{
    ViewData["Title"] = "Home Page";
}

<!-- Page Content-->
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0 test">
                Rheeze Gyver
                <span class="text-primary">Kalahi</span>
                <label class="switch float-right" onchange="myFunction()">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label>
            </h1>
            <div class="subheading mb-5">
                122 Nathan Hale Dr · Deptford, NJ 08096 · (443) 577-8160 ·
                <a href="mailto:gGybzz2297@gmail.com">gGybzz2297@gmail.com</a>
            </div>
            @*<p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>*@
        <p class="lead mb-5">I am a Bachelor of Science in Information Technology graduate with experience in .Net development. Able to work in a team and independently. I am eager to learn and very approachable. I like to learn about latest technologies.</p>
            <div class="social-icons">
                <a class="social-icon" href="https://www.facebook.com/gGybzz"><i class="fab fa-facebook-f"></i></a>
                <a class="social-icon" href="https://www.linkedin.com/in/rheeze-gyver-kalahi-a372aa185/"><i class="fab fa-linkedin-in"></i></a>
                @*<a class="social-icon" href="#"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="#"><i class="fab fa-twitter"></i></a>*@
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Experience-->
    <section class="resume-section" id="experience">
        <div class="resume-section-content">
            <h2 class="mb-5">Experience</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Support</h3>
                    <div class="subheading mb-3">ACY1 Amazon Fulfillment Center</div>
                    @*<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>*@
                </div>
                <div class="flex-shrink-0"><span class="text-primary">August 2020 - Present</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Intern</h3>
                    <div class="subheading mb-3">GoldenB Systems and Solutions, Inc</div>
                    @*<p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>*@
                </div>
                <div class="flex-shrink-0"><span class="text-primary">October 2019 - March 2020</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Freelance (Philippines)</h3>
                    @*<div class="subheading mb-3">Web Development - </div>*@
                    <div class="subheading mb-3">Cignal TV</div>
                    <p>Payroll System </p>
                    <div class="subheading mb-3">Sober And Tea</div>
                    <p>Payroll System</p>
                    <div class="subheading mb-3">Baguio Golf View Apartment and Transient</div>
                    <p>Booking Reservation System</p>
                    <div class="subheading mb-3">Benguet Agri-Pinoy Trading Center</div>
                    <p>Ticketing, Price monitoring, Trading Operations monitoring, Accreditation, Institutional Development and Services, Security, Repair, Human Resources, Reports, and Inter-trading System.</p>
                    <div class="subheading mb-3">Cheokan Gym</div>
                    <p>Account monitoring, Inventory monitoring, and Collection monitoring System</p>
                    <div class="subheading mb-3">Philippine Army</div>
                    <p>Simple Database Management System</p>
                    <div class="subheading mb-3">Bitshares Labs, Inc.</div>
                    <p>Web Bundy Clock System</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">February 2018 - Present</span></div>
            </div>
            @*<div class="d-flex flex-column flex-md-row justify-content-between">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Web Design Intern</h3>
                        <div class="subheading mb-3">Shout! Media Productions</div>
                        <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">September 2008 - June 2010</span></div>
                </div>*@
        </div>
    </section>
    <hr class="m-0" />
    <!-- Portfolio-->
    <section class="resume-section" id="portfolio">
        <div class="resume-section-content">
            <h2 class="mb-5">Portfolio</h2>
            @*<div class="subheading mb-3">Click on the links below to view projects.</div>*@

            @*<div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Tertiary</h3>
                <div class="subheading mb-3">Bachelor of Science in Information Technology</div>
                <div>AMA Computer College Baguio</div>
                <p>Baguio City, Philippines</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">August 2006 - May 2010</span></div>
        </div>*@

            <div class="container">
                <div class="mySlides">
                    <div class="numbertext">1 / 6</div>
                    <img src="~/assets/img/BAPTC.png" style="width: 100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 6</div>
                    <img src="~/assets/img/Reservation.png" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">3 / 6</div>
                    <img src="~/assets/img/Cignal.png" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">4 / 6</div>
                    <img src="~/assets/img/Gym.png" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">5 / 6</div>
                    <img src="~/assets/img/EPDC.png" style="width:100%">
                </div>

                <div class="mySlides">
                    <div class="numbertext">6 / 6</div>
                    <img src="~/assets/img/Bitshares.png" alt="" style="width:100%">
                </div>

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>

                <div class="row">
                    <div class="column">
                        <img class="demo cursor" src="~/assets/img/BAPTC.png" style="width:100%" onclick="currentSlide(1)" alt="Benguet Agri-Pinoy Trading Center System">
                        <a href="https://baptc.rheezegyverkalahi.com" target="_blank"><center>Benguet Agri-Pinoy Trading Center</center></a>
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="~/assets/img/Reservation.png" style="width:100%" onclick="currentSlide(2)" alt="Baguio Golf View Apartment and Transient">
                        <a href="https://transient.rheezegyverkalahi.com" target="_blank"><center>Baguio Apartment and Transient</center></a>
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="~/assets/img/Cignal.png" style="width:100%" onclick="currentSlide(3)" alt="Cignal TV System">
                        <a href="https://cignal.rheezegyverkalahi.com" target="_blank"><center>Cignal TV</center></a>
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="~/assets/img/Gym.png" style="width:100%" onclick="currentSlide(4)" alt="Cheokan Gym">
                        <a href="https://gym.rheezegyverkalahi.com" target="_blank"><center>Cheokan Gym</center></a>
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="~/assets/img/EPDC.png" style="width:100%" onclick="currentSlide(5)" alt="Electronic Pay Data Card">
                        <a href="https://epdc.rheezegyverkalahi.com" target="_blank"><center>Electronic Pay Data Card</center></a>
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="~/assets/img/Bitshares.png" style="width:100%" onclick="currentSlide(6)" alt="Bitshares Labs, Inc">
                        <a href="https://bitshares.rheezegyverkalahi.com" target="_blank"><center>Bitshares Labs, Inc</center></a>
                    </div>
                </div>
            </div>
            <br />
            <div>Click on the links to visit my projects.</div>
            <div>Username: guest@gmail.com</div>
            <div>Password: Qwe@123</div>
            Visit my Bitbucket account to check or pull the source codes.<a href="https://bitbucket.org/gGybzz/" target="_blank"> My Bitbucket account</a>

            @*<div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                    <img src="~/assets/img/Cignal.png" alt="" width="600" height="400">
                </a>
                <div class="desc">Cignal TV System</div>
            </div>
        </div>


        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_forest.jpg">
                    <img src="~/assets/img/Reservation.png" alt="" width="600" height="400">
                </a>
                <div class="desc">Baguio Golf View Transient and Apartment</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_lights.jpg">
                    <img src="~/assets/img/BAPTC.png" alt="" width="600" height="400">
                </a>
                <div class="desc">Benguet Agri-Pinoy Trading Center System</div>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_mountains.jpg">
                    <img src="~/assets/img/Gym.png" alt="" width="600" height="400">
                </a>
                <div class="desc">Cheokan Gym</div>
            </div>
        </div>*@

            @*<div class="responsive">
            <div class="gallery">
                <a target="_blank" href="img_mountains.jpg">
                    <img src="~/assets/img/EPDC.png" alt="" width="600" height="400">
                </a>
                <div class="desc">Electronic Pay Data Card System</div>
            </div>
        </div>*@

            @*<div class="clearfix"></div>*@
        </div>
    </section>
    <hr class="m-0" />
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Education</h2>
            <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Tertiary</h3>
                    <div class="subheading mb-3">Bachelor of Science in Information Technology</div>
                    <div>AMA Computer College Baguio</div>
                    <p>Baguio City, Philippines</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2016 - 2020</span></div>
            </div>
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Secondary</h3>
                    <div class="subheading mb-2">Don Bosco High School</div>
                    <p>Lagawe, Ifugao, Philippines</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2010 - 2014</span></div>
            </div>
            <br />
            <div class="d-flex flex-column flex-md-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Elementary</h3>
                    <div class="subheading mb-2">Lagawe Central School</div>
                    <p>Lagawe, Ifugao, Philippines</p>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">2004 - 2010</span></div>
            </div>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Skills-->
    <section class="resume-section" id="skills">
        <div class="resume-section-content">
            <h2 class="mb-1">Technical Skills</h2>
            <div class="subheading mb-3">Industry Knowledge</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Web Development
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Software Development
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Front-End Development
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Object-Oriented Programming
                </li>
            </ul>
            <br />
            <div class="subheading mb-3">Tools and Technologies</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    C#
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Entity Framework Core
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Microsoft SQL Server
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    ASP.Net
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    ASP.Net MVC
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    ASP.Net Core
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Entity Framework
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    .Net Framework
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    JQuery
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    AJAX
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    HTML5
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    CSS3
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    JavaScript
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Amazon Web Services (AWS)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    MySQL
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Language Integrated Query (LINQ)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Bootstrap
                </li>
                @*<li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    React.js
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    AngularJS
                </li>*@
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Internet Information Services (IIS)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Git
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Bitbucket
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Codeigniter
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Crystal Reports
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Visual Studio
                </li>
            </ul>
            <br />
            <div class="subheading mb-3">Other Skills</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Full-Stack Development
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Back-End Web Development
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    ASP.NET Web API
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Dependency Injection
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Lambda Expressions
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Nuget
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Model-View-Controller (MVC)
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Query Writing
                </li>
            </ul>
            <br />
            <h2 class="mb-1">Personal Skills</h2>
            @*<div class="subheading mb-3">Personal Skills</div>*@
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Highly organized and efficient
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Coachable and willing to learn
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Easily adapts to changes
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Excellent written and verbal communication skills
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Keen attention to details
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Ability to work independently or as part of a team
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Proven leadership skills and ability to motivate
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Self-motivated and directed
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Analytical and problem solver
                </li>
            </ul>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Interests-->
    <section class="resume-section" id="achievements">
        <div class="resume-section-content">
            <h2 class="mb-5">Achievements</h2>
            <p class="mb-0">•	PRESIDENT, Council of Student’s Organization - AMA Computer College Baguio (2019 - 2020).</p>
            <p class="mb-0">•	PRESIDENT, Bachelor of Science in Information Technology - AMA Computer College Baguio (2019 - 2020).</p>
            <p class="mb-0">•	3rd PLACE – HACKATHON (AMA Education System Research Congress 2019 - Manila Philippines).</p>
        </div>
    </section>
    <hr class="m-0" />
    <!-- Awards-->
    <section class="resume-section" id="awards">
        <div class="resume-section-content">
            <h2 class="mb-5">Certificates</h2>
            <div class="subheading mb-3">Udemy - Mosh Hamedani</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    C# Basics for Beginners: Learn C# Fundamentals by Coding
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    C# Intermediate: Classes, Interfaces and OOP
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    C# Advanced Topics: Prepare for Technical Interviews
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Xamarin Forms: Build Native Cross-Platform Apps with C#
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Entity Framework in Depth: The Complete Guide
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    The Complete ASP.NET MVC 5 Course
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    C# Developers: Double Your Coding Speed with Visual Studio
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    C# Developers: Learn the Art of Writing Clean Code
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Unit Testing for C# Developers
                </li>
            </ul>
            <br />
            <div class="subheading mb-3">AMA COMPUTER COLLEGE</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    3
                    <sup>rd</sup>
                    PLACE - AMA EDUCATIONAL RESEARCH CONGRESS 2019 - Hackathon 2019
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    AMA EDUCATIONAL SYSTEM RESEARCH CONGRESS 2019 - Certificate of Participation
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    HACKATHON MASTER AWARD - Certificate of Recognition
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    LEADER OF THE YEAR AWARD - Certificate of Recognition
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    COLLEGIATE LEADERSHIP AWARD - Certificate of Recognition
                </li>
            </ul>
            <br />
            <div class="subheading mb-3">FREELANCING</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    Benguet Agri-Pinoy Trading Center System - Certificate of Appreciation
                </li>
            </ul>


        </div>
    </section>
</div>

<script>
    function myFunction() {
        var element = document.body;
        element.classList.toggle("dark-mode");
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        var captionText = document.getElementById("caption");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>

